/build
/dist
/.venv
/*.notcapz
/whispers
/pretrained_models
/Download.py
/Download.spec
/token.json
/large-v3.pt
/client.json
/__pycache__
/Build.bat
/NotyCaption.exe
/build_warnings.log
/logs
/NotyCaption Pro.spec
/build_key.key
/client.notycapz
/secret-build-key.key
/NotyCaption.spec