/build
/dist
/NotyCaption.spec
/.venv
/.notcapz
/key.notcapz
/settings.notcapz
/whispers
/pretrained_models
/Installer.py
/Uninstaller.py
/Uninstaller.ico
/Download.py
/Download.spec
/token.json
/large-v3.pt
/client.json
/__pycache__
/Build.bat
/NotyCaption.exe
/build_warnings.log
/logs
/NotyCaption Pro.spec
/build_key.key
/client.notycapz