/build
/dist
/NotyCaption.spec
/.venv
/.notcapz
/key.notcapz
/settings.notcapz
/whispers
/pretrained_models
/Installer.py
/Uninstaller.py
/Uninstaller.ico
/Download.py
/Download.spec
/hook-imageio.py
/large-v3.pt
/client.json